<div class="min-h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('<%= asset_path('input.jpg') %>');">
  <div class="text-center">
    <h1 class="text-4xl font-semibold text-white mb-8">Welcome to Your App</h1>
    <div class="space-y-4">
      <%= link_to '撮影', photos_capture_path, class: 'bg-blue-500 hover:bg-blue-600 text-white py-3 px-6 rounded-full font-semibold text-lg transition duration-300' %>
      <%= link_to '投稿一覧', '#', class: 'bg-green-500 hover:bg-green-600 text-white py-3 px-6 rounded-full font-semibold text-lg transition duration-300' %>
    </div>
  </div>
</div>
